@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Corben');
@import url('https://fonts.googleapis.com/css?family=PT Mono');

body{
	background-color: black;
	font-family: 'Corben';
}

h1 {
	color: gray;
	text-align: center;
}
p {
	color: burlywood;
}
#pcentral {
	text-align: center
}

footer
{
 	color:gray;
	text-align: center;
	font-size: 20px;
	width: 100%;
	padding-bottom: 12px;
	paddint-top: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Corben';
}

div {
	color:#240A36;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

div.stuff 
{
	border: double #C9BECF;
}

div.notes
{
	font-family: 'PT Mono';
	background-color: gray;
	text-align: justify;	
}
