@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Corben');
@import url('https://fonts.googleapis.com/css?family=PT Mono');

body{
	background-color: black;
	font-family: 'Corben';
}

h1 {
	color: gray;
	text-align: center;
}
p {
	color: gray;
}
#pcentral {
	text-align: center
}

footer
{
	position: absolute;
  	right: 0;
 	bottom: 0;
  	left: 0;
	background: url(https://vorskla.org/stuff/images/footer.png);
	background-repeat: no-repeat;
    background-position: center;
	background-size: auto, contain;
}
div {
	color: #37033A;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

div.stuff 
{
	border: double #C9BECF;
	background-color: #1C031E
}

div.notes
{
	font-family: 'PT Mono';
	background-color: gray;
	text-align: justify;	
}
